Server/.flows.json.backup
[
    {
        "id": "84070b956f808308",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb40a44d23cb5760",
        "type": "tab",
        "label": "Sign In",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "117670200288981a",
        "type": "tab",
        "label": "Sign Up",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed6816ba7f57d2eb",
        "type": "tab",
        "label": "DATABASE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b7c3022fb252408",
        "type": "tab",
        "label": "Logout",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a76a4e8bdd99e48",
        "type": "tab",
        "label": "Socket",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1011441c04be54b",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e80f3d64fb5d6b7",
        "type": "tab",
        "label": "Script",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a78910a7de187960",
        "type": "mqtt-broker",
        "name": "Local Server",
        "broker": "192.168.50.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "86fb3b737b064379",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 20,
                "cy": 20,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8af49c6fff5c41c6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "1092dc46790792d6",
        "type": "ui_tab",
        "name": "Script",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53244fc3c4c150a5",
        "type": "ui_tab",
        "name": "Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "add1faeab873f5bb",
        "type": "ui_tab",
        "name": "Log out",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38c418ea4142ccd8",
        "type": "ui_tab",
        "name": "Time scheduler",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1987fbbdac4ac140",
        "type": "ui_tab",
        "name": "Remote",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "878cb2d6465c23c0",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "1987fbbdac4ac140",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "506de255854d948c",
        "type": "ui_group",
        "name": "Login",
        "tab": "8af49c6fff5c41c6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "login-page"
    },
    {
        "id": "f0d047bca5f32611",
        "type": "ui_group",
        "d": true,
        "name": "Sign Up",
        "tab": "53244fc3c4c150a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41226fd164ba85b2",
        "type": "ui_group",
        "name": "Log out",
        "tab": "add1faeab873f5bb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c08575cbfd2a86f",
        "type": "ui_group",
        "name": "Sockets",
        "tab": "1987fbbdac4ac140",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dee2cf71d18accd",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "38c418ea4142ccd8",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "e7f976d3ee444ce1",
        "type": "MySQLdatabase",
        "name": "IoT",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iotdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "04229a24935bb99a",
        "type": "ui_group",
        "name": "Script",
        "tab": "1092dc46790792d6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59189a3ba5967738",
        "type": "function",
        "z": "84070b956f808308",
        "name": "function 2",
        "func": "msg.topic = `select * from Equipment_Plug`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 860,
        "wires": [
            [
                "7a9a2c23d29b795c"
            ]
        ]
    },
    {
        "id": "1310eef2ba54e236",
        "type": "function",
        "z": "84070b956f808308",
        "name": "get_Socket_infor",
        "func": "var id = flow.get(\"equipment\").equipmentID;\nmsg.topic = `select * from Socket where equipmentID = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1020,
        "wires": [
            [
                "d2e8d6e3a81e921a"
            ]
        ]
    },
    {
        "id": "5df8e50ed7ac47cf",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 940,
        "wires": [
            [
                "33c42e995201f674"
            ]
        ]
    },
    {
        "id": "33c42e995201f674",
        "type": "function",
        "z": "84070b956f808308",
        "name": "function 6",
        "func": "var data = flow.get(\"data\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n        title: element.socketName,\n        isChecked: element.status\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1060,
        "wires": [
            [
                "b87039024240aa5d"
            ]
        ]
    },
    {
        "id": "60e89b41629b3f2a",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6d39a7d6e52309ba",
        "type": "mqtt out",
        "z": "84070b956f808308",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a78910a7de187960",
        "x": 1990,
        "y": 1160,
        "wires": []
    },
    {
        "id": "4f0a67ef44121dbb",
        "type": "switch",
        "z": "84070b956f808308",
        "name": "",
        "property": "$boolean(msg.payload.isChecked)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1590,
        "y": 1180,
        "wires": [
            [
                "e37f8e988df5aee0"
            ],
            [
                "5bcacbe606208d0a"
            ]
        ]
    },
    {
        "id": "e37f8e988df5aee0",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOn",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${global.get(\"data\").equipmentID}`\nmsg.payload = {\n    action: \"REMOTE\",\n    device: flow.get(\"device\").title,\n    data: 1\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 1140,
        "wires": [
            [
                "6d39a7d6e52309ba",
                "3848d3d7341212ac"
            ]
        ]
    },
    {
        "id": "fd4e1fd65be52fcd",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 1180,
        "wires": [
            [
                "4f0a67ef44121dbb"
            ]
        ]
    },
    {
        "id": "5bcacbe606208d0a",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOff",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${global.get(\"data\").equipmentID}`\nmsg.payload = {\n    action : \"REMOTE\",\n    device: flow.get(\"device\").title,\n    data: 0\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 1200,
        "wires": [
            [
                "6d39a7d6e52309ba"
            ]
        ]
    },
    {
        "id": "3848d3d7341212ac",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1970,
        "y": 980,
        "wires": []
    },
    {
        "id": "426029266f3d85d2",
        "type": "inject",
        "z": "84070b956f808308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "59189a3ba5967738",
                "18efaa8f5d504672"
            ]
        ]
    },
    {
        "id": "a6cfb31930f45b97",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "equipment",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7a9a2c23d29b795c",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 490,
        "y": 880,
        "wires": [
            [
                "715f58491a1f60db"
            ]
        ]
    },
    {
        "id": "d2e8d6e3a81e921a",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1410,
        "y": 940,
        "wires": [
            [
                "5df8e50ed7ac47cf"
            ]
        ]
    },
    {
        "id": "b87039024240aa5d",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "6c08575cbfd2a86f",
        "name": "Sockets",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "three",
        "actionType": "switch",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1140,
        "y": 1180,
        "wires": [
            [
                "60e89b41629b3f2a",
                "fd4e1fd65be52fcd"
            ]
        ]
    },
    {
        "id": "715f58491a1f60db",
        "type": "ui_table",
        "z": "84070b956f808308",
        "group": "878cb2d6465c23c0",
        "name": "Equipment",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "1310eef2ba54e236",
                "a6cfb31930f45b97"
            ]
        ]
    },
    {
        "id": "246dd2f862d481d2",
        "type": "ui_countdown_timer_switch",
        "z": "84070b956f808308",
        "name": "",
        "label": "Time scheduler",
        "group": "7dee2cf71d18accd",
        "order": 2,
        "width": 0,
        "height": 0,
        "countdowns": [
            "5",
            "10",
            "15",
            "30"
        ],
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "topic": "",
        "outputState": "",
        "showDropdown": true,
        "x": 740,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "7c1552c084a581c8",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "04229a24935bb99a",
        "name": "Script",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "three",
        "actionType": "switch",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "e28c026ca1f2b9b6"
            ]
        ]
    },
    {
        "id": "e28c026ca1f2b9b6",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "script",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "c05e926d230b5b0a"
            ]
        ]
    },
    {
        "id": "18efaa8f5d504672",
        "type": "function",
        "z": "84070b956f808308",
        "name": "function 7",
        "func": "msg.topic = `select * from Script`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "e7acb03b4e1f7c87"
            ]
        ]
    },
    {
        "id": "e7acb03b4e1f7c87",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "7c1552c084a581c8"
            ]
        ]
    },
    {
        "id": "c05e926d230b5b0a",
        "type": "function",
        "z": "84070b956f808308",
        "name": "get_Socket_infor",
        "func": "var id = flow.get(\"scriptName\").scriptName;\nmsg.topic = `select * from Socket where scriptName = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1300,
        "wires": [
            [
                "219e021446f05c72"
            ]
        ]
    },
    {
        "id": "219e021446f05c72",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1330,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e283fd70b3e27b",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "3058a20d885a59d9",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Sign Up\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "648a07a887f8eeaa",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f6a06520f31397e6",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2a709be85ec57e04",
        "type": "function",
        "z": "cb40a44d23cb5760",
        "name": "login",
        "func": "msg.topic = `select login('${global.get(\"userName\")}', '${flow.get(\"password\")}') as res`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "9ea4574b3c2177ac"
            ]
        ]
    },
    {
        "id": "e2d7f01e7dbb3172",
        "type": "switch",
        "z": "cb40a44d23cb5760",
        "name": "",
        "property": "$abs(msg.payload.res)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "a0e283fd70b3e27b",
                "bbbfb929e17c40b0",
                "94fe86b1c64a8ca9",
                "a9d0dd0774c1a0f1"
            ],
            [
                "0e89dd608760b689"
            ]
        ]
    },
    {
        "id": "94fe86b1c64a8ca9",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Home\", \"Log out\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "a9d0dd0774c1a0f1",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Login\", \"Sign Up\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 440,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "030baa63e035f70f",
        "type": "ui_button",
        "z": "cb40a44d23cb5760",
        "name": "",
        "group": "506de255854d948c",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Login",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "login-btn",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "2a709be85ec57e04"
            ]
        ]
    },
    {
        "id": "4f9d886706c21dc2",
        "type": "ui_button",
        "z": "cb40a44d23cb5760",
        "name": "",
        "group": "506de255854d948c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "3058a20d885a59d9"
            ]
        ]
    },
    {
        "id": "a5edfb7ae190806f",
        "type": "ui_text_input",
        "z": "cb40a44d23cb5760",
        "name": "",
        "label": "User Name",
        "tooltip": "",
        "group": "506de255854d948c",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "login",
        "topicType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "648a07a887f8eeaa"
            ]
        ]
    },
    {
        "id": "2c74de7cd0b5fed8",
        "type": "ui_text_input",
        "z": "cb40a44d23cb5760",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "506de255854d948c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "f6a06520f31397e6"
            ]
        ]
    },
    {
        "id": "7d1d95721465657d",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 290,
        "y": 500,
        "wires": []
    },
    {
        "id": "bbbfb929e17c40b0",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "Green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Login Success",
        "name": "",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e89dd608760b689",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Wrong user or password",
        "name": "",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "152b57b93893f581",
        "type": "ui_ui_control",
        "z": "cb40a44d23cb5760",
        "name": "",
        "events": "all",
        "x": 1220,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9ea4574b3c2177ac",
        "type": "mysql",
        "z": "cb40a44d23cb5760",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "e2d7f01e7dbb3172"
            ]
        ]
    },
    {
        "id": "8b765c7ce994fe7b",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "62e6c8e41318ed99"
            ]
        ]
    },
    {
        "id": "63efd1d1b8ce68a4",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Login\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "62e6c8e41318ed99"
            ]
        ]
    },
    {
        "id": "4beab38a2329d095",
        "type": "function",
        "z": "117670200288981a",
        "name": "function 1",
        "func": "var query = `SELECT createUser('${flow.get(\"userName\")}', '${flow.get(\"password\")}') AS result`;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "d8330af53d1f39fa"
            ]
        ]
    },
    {
        "id": "24ef9f81896506cd",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3e404ac595cdba81",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "650a51b4e0f2e4aa",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "42a15b12e2c164c3",
        "type": "debug",
        "z": "117670200288981a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "51072983b7ba2ee0",
        "type": "ui_button",
        "z": "117670200288981a",
        "name": "",
        "group": "f0d047bca5f32611",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "login-btn",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "4beab38a2329d095"
            ]
        ]
    },
    {
        "id": "4be78e76d2696a4d",
        "type": "ui_button",
        "z": "117670200288981a",
        "name": "",
        "group": "f0d047bca5f32611",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "63efd1d1b8ce68a4"
            ]
        ]
    },
    {
        "id": "df3b8a118cdab206",
        "type": "ui_text_input",
        "z": "117670200288981a",
        "name": "",
        "label": "User Name",
        "tooltip": "",
        "group": "f0d047bca5f32611",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "userName",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "24ef9f81896506cd"
            ]
        ]
    },
    {
        "id": "71ade9357a5df070",
        "type": "ui_text_input",
        "z": "117670200288981a",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "f0d047bca5f32611",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "pass",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "3e404ac595cdba81"
            ]
        ]
    },
    {
        "id": "62e6c8e41318ed99",
        "type": "ui_ui_control",
        "z": "117670200288981a",
        "name": "",
        "events": "all",
        "x": 920,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d8330af53d1f39fa",
        "type": "mysql",
        "z": "117670200288981a",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 770,
        "y": 100,
        "wires": [
            [
                "42a15b12e2c164c3"
            ]
        ]
    },
    {
        "id": "0bfb851603c5f055",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Temperature",
        "func": "var query = `SELECT *from DS_Temperature`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "920a0611142d9cf7",
        "type": "http response",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "6eee55c1b1245a71",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "0bfb851603c5f055"
            ]
        ]
    },
    {
        "id": "9609940c47268d36",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "abe01fa33c5f7fa3"
            ]
        ]
    },
    {
        "id": "abe01fa33c5f7fa3",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Current",
        "func": "var query = `SELECT *from ACS_Current`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "e176816853e5e5f2",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "82a1c6a17cc3268c"
            ]
        ]
    },
    {
        "id": "82a1c6a17cc3268c",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "post_Users",
        "func": "var userName = msg.payload.userName; \nvar passwordHash = msg.payload.passwordHash;\nvar query = `SELECT createUser('${userName}', '${passwordHash}') AS result`;\nmsg.topic = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "bfa9c658f3b999d3",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/equipment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "67df5cebe39a8352"
            ]
        ]
    },
    {
        "id": "67df5cebe39a8352",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "post_Equipment",
        "func": "var equipmentName = msg.payload.equipmentName; \nvar numberSocket = msg.payload.numberSocket;\nvar query = `SELECT createEquipment('${equipmentName}', '${numberSocket}') AS result`;\nmsg.topic = query;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "a9169d9798ef95cb",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Users",
        "func": "var query = `SELECT *from Users`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "720ee2b38bf9d92c",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "a9169d9798ef95cb"
            ]
        ]
    },
    {
        "id": "4fd35bf9f83bd8d6",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/equipment",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "d71a0522170c9391"
            ]
        ]
    },
    {
        "id": "d71a0522170c9391",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Room",
        "func": "var query = `SELECT *from Equipment_Plug`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "282dd9491c678f1e",
        "type": "mysql",
        "z": "ed6816ba7f57d2eb",
        "mydb": "e7f976d3ee444ce1",
        "name": "TEST",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "920a0611142d9cf7"
            ]
        ]
    },
    {
        "id": "ecac4c174bc61c82",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Login\", \"Sign Up\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "eaa97a455a08aa68",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Login\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "063f27fe2a94dc02",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Home\", \"Log out\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "04471693fce9e1d6",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "global",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "f784af9c6ec11c36",
                "828a37ba8f9d3ab2"
            ]
        ]
    },
    {
        "id": "828a37ba8f9d3ab2",
        "type": "debug",
        "z": "5b7c3022fb252408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6e4508264098a08",
        "type": "ui_button",
        "z": "5b7c3022fb252408",
        "name": "",
        "group": "41226fd164ba85b2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ecac4c174bc61c82",
                "eaa97a455a08aa68",
                "063f27fe2a94dc02",
                "04471693fce9e1d6"
            ]
        ]
    },
    {
        "id": "f784af9c6ec11c36",
        "type": "ui_ui_control",
        "z": "5b7c3022fb252408",
        "name": "",
        "events": "all",
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2136d49bc0b3c422",
        "type": "mqtt in",
        "z": "a1011441c04be54b",
        "name": "",
        "topic": "from-client",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a78910a7de187960",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "3459250597bd18f9",
                "0bbf8eb04a11eaf5"
            ]
        ]
    },
    {
        "id": "3459250597bd18f9",
        "type": "debug",
        "z": "a1011441c04be54b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "780121c3330a1363",
        "type": "function",
        "z": "a1011441c04be54b",
        "name": "Add New Equipment",
        "func": "msg.topic = `select changeManager('${flow.get(\"data\").userName}', '${flow.get(\"data\").equipmentID}')`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "3b87508924110923"
            ]
        ]
    },
    {
        "id": "0bbf8eb04a11eaf5",
        "type": "change",
        "z": "a1011441c04be54b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "780121c3330a1363"
            ]
        ]
    },
    {
        "id": "9592315dbb7759ad",
        "type": "debug",
        "z": "a1011441c04be54b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "e6b2a17ef18f5e8c",
        "type": "aedes broker",
        "z": "a1011441c04be54b",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3b87508924110923",
        "type": "mysql",
        "z": "a1011441c04be54b",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "9592315dbb7759ad"
            ]
        ]
    }
]