Server/.flows.json.backup
[
    {
        "id": "84070b956f808308",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a76a4e8bdd99e48",
        "type": "tab",
        "label": "Chart",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb40a44d23cb5760",
        "type": "tab",
        "label": "Sign In",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "117670200288981a",
        "type": "tab",
        "label": "Sign Up",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed6816ba7f57d2eb",
        "type": "tab",
        "label": "DATABASE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b7c3022fb252408",
        "type": "tab",
        "label": "Logout",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1011441c04be54b",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e80f3d64fb5d6b7",
        "type": "tab",
        "label": "Script",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a78910a7de187960",
        "type": "mqtt-broker",
        "name": "Local Server",
        "broker": "192.168.50.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "878cb2d6465c23c0",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "1987fbbdac4ac140",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86fb3b737b064379",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 20,
                "cy": 20,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8af49c6fff5c41c6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "1092dc46790792d6",
        "type": "ui_tab",
        "name": "Script",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "53244fc3c4c150a5",
        "type": "ui_tab",
        "name": "Sign Up",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "add1faeab873f5bb",
        "type": "ui_tab",
        "name": "Log out",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38c418ea4142ccd8",
        "type": "ui_tab",
        "name": "Time scheduler",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1987fbbdac4ac140",
        "type": "ui_tab",
        "name": "Remote",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "878cb2d6465c23c0",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "1987fbbdac4ac140",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "506de255854d948c",
        "type": "ui_group",
        "name": "Login",
        "tab": "1092dc46790792d6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "login-page"
    },
    {
        "id": "f0d047bca5f32611",
        "type": "ui_group",
        "name": "Sign Up",
        "tab": "53244fc3c4c150a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7f976d3ee444ce1",
        "type": "MySQLdatabase",
        "name": "IoT",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iotdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "add1faeab873f5bb",
        "type": "ui_tab",
        "name": "Log out",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "41226fd164ba85b2",
        "type": "ui_group",
        "name": "Log out",
        "tab": "add1faeab873f5bb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c08575cbfd2a86f",
        "type": "ui_group",
        "name": "Sockets",
        "tab": "1987fbbdac4ac140",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dee2cf71d18accd",
        "type": "ui_group",
        "name": "Time scheduler",
        "tab": "38c418ea4142ccd8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1987fbbdac4ac140",
        "type": "ui_tab",
        "name": "Remote",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1234567.5e1b9",
        "type": "ui_group",
        "name": "Chart Group",
        "tab": "83cfb48d.87d5b",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "83cfb48d.87d5b",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e7f976d3ee444ce1",
        "type": "MySQLdatabase",
        "name": "IoT",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iotdb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "04229a24935bb99a",
        "type": "ui_group",
        "name": "Script",
        "tab": "1092dc46790792d6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59189a3ba5967738",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Equipment",
        "func": "msg.topic = `select * from Equipment_Plug where manager = '${global.get(\"userName\")}'`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 860,
        "wires": [
            [
                "7a9a2c23d29b795c"
            ]
        ]
    },
    {
        "id": "7a9a2c23d29b795c",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 470,
        "y": 860,
        "wires": [
            [
                "41fbcad662a3185a"
            ]
        ]
    },
    {
        "id": "715f58491a1f60db",
        "type": "ui_table",
        "z": "84070b956f808308",
        "group": "878cb2d6465c23c0",
        "name": "Equipment",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1090,
        "y": 860,
        "wires": [
            [
                "abe84be22eee5e3d"
            ]
        ]
    },
    {
        "id": "1310eef2ba54e236",
        "type": "function",
        "z": "84070b956f808308",
        "name": "get_Socket_infor",
        "func": "var id = flow.get(\"chose\").Id;\nmsg.topic = `select * from Socket where equipmentID = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1000,
        "wires": [
            [
                "d2e8d6e3a81e921a"
            ]
        ]
    },
    {
        "id": "d2e8d6e3a81e921a",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 530,
        "y": 1000,
        "wires": [
            [
                "5df8e50ed7ac47cf"
            ]
        ]
    },
    {
        "id": "5df8e50ed7ac47cf",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "33c42e995201f674"
            ]
        ]
    },
    {
        "id": "33c42e995201f674",
        "type": "function",
        "z": "84070b956f808308",
        "name": "List",
        "func": "var data = flow.get(\"data\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n        title: element.socketName,\n        isChecked: element.status\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1000,
        "wires": [
            [
                "b87039024240aa5d"
            ]
        ]
    },
    {
        "id": "b87039024240aa5d",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "6c08575cbfd2a86f",
        "name": "Sockets",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "three",
        "actionType": "switch",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "fd4e1fd65be52fcd"
            ]
        ]
    },
    {
        "id": "6d39a7d6e52309ba",
        "type": "mqtt out",
        "z": "84070b956f808308",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a78910a7de187960",
        "x": 1630,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4f0a67ef44121dbb",
        "type": "switch",
        "z": "84070b956f808308",
        "name": "",
        "property": "$boolean(msg.payload.isChecked)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "e37f8e988df5aee0",
                "b1ae5871e52d450c"
            ],
            [
                "5bcacbe606208d0a",
                "83a41fde59276761"
            ]
        ]
    },
    {
        "id": "e37f8e988df5aee0",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOn",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${flow.get(\"chose\").Id}`\nmsg.payload = {\n    action: \"REMOTE\",\n    device: flow.get(\"device\").title,\n    data: 1\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1080,
        "wires": [
            [
                "6d39a7d6e52309ba"
            ]
        ]
    },
    {
        "id": "fd4e1fd65be52fcd",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1120,
        "wires": [
            [
                "4f0a67ef44121dbb"
            ]
        ]
    },
    {
        "id": "5bcacbe606208d0a",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOff",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${flow.get(\"chose\").Id}`\nmsg.payload = {\n    action : \"REMOTE\",\n    device: flow.get(\"device\").title,\n    data: 0\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1160,
        "wires": [
            [
                "6d39a7d6e52309ba"
            ]
        ]
    },
    {
        "id": "426029266f3d85d2",
        "type": "inject",
        "z": "84070b956f808308",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 860,
        "wires": [
            [
                "59189a3ba5967738",
                "748988afc5ce1bc4"
            ]
        ]
    },
    {
        "id": "41fbcad662a3185a",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "eq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "8021cb75c7d10d8e"
            ]
        ]
    },
    {
        "id": "8021cb75c7d10d8e",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Table",
        "func": "var data = flow.get(\"eq\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n    Id: element.equipmentID,\n    Name: element.equipmentName,\n    Socket: element.numberSocket,\n    Location: element.position\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 860,
        "wires": [
            [
                "715f58491a1f60db"
            ]
        ]
    },
    {
        "id": "abe84be22eee5e3d",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 860,
        "wires": [
            [
                "1310eef2ba54e236"
            ]
        ]
    },
    {
        "id": "b0c3e92e28d94a68",
        "type": "ui_table",
        "z": "84070b956f808308",
        "group": "7dee2cf71d18accd",
        "name": "Equipment",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "c4490a55203833be"
            ]
        ]
    },
    {
        "id": "748988afc5ce1bc4",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Table",
        "func": "var data = flow.get(\"eq\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n    Id: element.equipmentID,\n    Name: element.equipmentName,\n    Socket: element.numberSocket,\n    Location: element.position\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "b0c3e92e28d94a68"
            ]
        ]
    },
    {
        "id": "c4490a55203833be",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1260,
        "wires": [
            [
                "13626b9a93f09e91",
                "da56c7b158e831ea"
            ]
        ]
    },
    {
        "id": "13626b9a93f09e91",
        "type": "function",
        "z": "84070b956f808308",
        "name": "get_Socket_infor",
        "func": "var id = flow.get(\"chose\").Id;\nmsg.topic = `select * from Socket where equipmentID = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 1260,
        "wires": [
            [
                "c79d846f6cc36e22"
            ]
        ]
    },
    {
        "id": "c79d846f6cc36e22",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1290,
        "y": 1260,
        "wires": [
            [
                "4eff14b24794a344"
            ]
        ]
    },
    {
        "id": "4eff14b24794a344",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1340,
        "wires": [
            [
                "d0d4607575998a22"
            ]
        ]
    },
    {
        "id": "9748a949bd2ea191",
        "type": "mqtt out",
        "z": "84070b956f808308",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a78910a7de187960",
        "x": 1710,
        "y": 1880,
        "wires": []
    },
    {
        "id": "59c504f14bb436b1",
        "type": "switch",
        "z": "84070b956f808308",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 1880,
        "wires": [
            [
                "e3c36906a5a3b098",
                "eb2ed69913f11140"
            ],
            [
                "4f6fe7d05c55ec16",
                "8b922cac78f17524"
            ]
        ]
    },
    {
        "id": "e3c36906a5a3b098",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOn",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${flow.get(\"chose\").Id}`\nvar list = [];\nvar data = flow.get(\"selected\");\ndata.forEach(function(element) {\n    if(element.isChecked){\n        list.push(\n            {\n            device: element.title,\n            data: 1\n            }\n        )\n    }\n});\nmsg.payload = {\n    action: \"SET_TIME\",\n    list: list\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1840,
        "wires": [
            [
                "9748a949bd2ea191",
                "717b9f95adc8a0a9",
                "011c68f52e77e425"
            ]
        ]
    },
    {
        "id": "4f6fe7d05c55ec16",
        "type": "function",
        "z": "84070b956f808308",
        "name": "turnOff",
        "func": "msg.topic = `${global.get(\"userName\")}\\\\${flow.get(\"chose\").Id}`\nvar list = [];\nvar data = flow.get(\"selected\");\ndata.forEach(function(element) {\n    if(element.isChecked){\n        list.push(\n            {\n            device: element.title,\n            data: 0\n            }\n        )\n    }\n});\nmsg.payload = {\n    action: \"SET_TIME\",\n    list: list\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1920,
        "wires": [
            [
                "9748a949bd2ea191",
                "de4c67c47b1e5029",
                "011c68f52e77e425"
            ]
        ]
    },
    {
        "id": "d0d4607575998a22",
        "type": "function",
        "z": "84070b956f808308",
        "name": "List",
        "func": "var data = flow.get(\"data\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n        title: element.socketName,\n        description: element.status == 1 ? \"On\" : \"Off\",\n        isChecked: false\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1340,
        "wires": [
            [
                "dba2635d4b446f13",
                "4a0e9b72c96cb201",
                "c298ef8b07a47b4a"
            ]
        ]
    },
    {
        "id": "dba2635d4b446f13",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "7dee2cf71d18accd",
        "name": "Sockets",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "two",
        "actionType": "check",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 700,
        "y": 1340,
        "wires": [
            [
                "55206abda1f39c60",
                "4e9b9799dada6d92"
            ]
        ]
    },
    {
        "id": "4a0e9b72c96cb201",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1480,
        "wires": []
    },
    {
        "id": "da56c7b158e831ea",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 1200,
        "wires": []
    },
    {
        "id": "55206abda1f39c60",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c298ef8b07a47b4a",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sockets",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1560,
        "wires": [
            [
                "d84a8561be717a9b"
            ]
        ]
    },
    {
        "id": "4e9b9799dada6d92",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "select",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 1340,
        "wires": [
            [
                "6c15ccb7530298ba",
                "788255e096040c07"
            ]
        ]
    },
    {
        "id": "788255e096040c07",
        "type": "function",
        "z": "84070b956f808308",
        "name": "function 2",
        "func": "var data = flow.get(\"sockets\");\nflow.get(\"sockets\").forEach(function(element, index) {\n    if(element.title == flow.get(\"select\").title){\n        data[index].isChecked = flow.get(\"select\").isChecked\n    }\n});\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1340,
        "wires": [
            [
                "efe45132e87d9324",
                "229e7ba08cf63426"
            ]
        ]
    },
    {
        "id": "efe45132e87d9324",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 1340,
        "wires": []
    },
    {
        "id": "6c15ccb7530298ba",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d84a8561be717a9b",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1560,
        "wires": []
    },
    {
        "id": "229e7ba08cf63426",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selected",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "717b9f95adc8a0a9",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 1740,
        "wires": []
    },
    {
        "id": "de4c67c47b1e5029",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 2020,
        "wires": []
    },
    {
        "id": "565d4d04c23a6618",
        "type": "ui_dropdown",
        "z": "84070b956f808308",
        "name": "",
        "label": "Time Scheduler",
        "tooltip": "",
        "place": "Select here",
        "group": "7dee2cf71d18accd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1 minutes",
                "value": 1,
                "type": "num"
            },
            {
                "label": "5 minutes",
                "value": "5",
                "type": "str"
            },
            {
                "label": "10 minutes",
                "value": "10",
                "type": "str"
            },
            {
                "label": "15 minutes",
                "value": "15",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1780,
        "wires": [
            [
                "55123008d51d734e"
            ]
        ]
    },
    {
        "id": "55123008d51d734e",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "time",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "ce87c9d14183b312",
        "type": "ui_switch",
        "z": "84070b956f808308",
        "name": "",
        "label": "Choose On/Off",
        "tooltip": "",
        "group": "7dee2cf71d18accd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 600,
        "y": 1840,
        "wires": [
            [
                "a75cfe73ee4c6d55"
            ]
        ]
    },
    {
        "id": "9a699281ada40b05",
        "type": "delay",
        "z": "84070b956f808308",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1050,
        "y": 1880,
        "wires": [
            [
                "59c504f14bb436b1"
            ]
        ]
    },
    {
        "id": "a75cfe73ee4c6d55",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "option",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "14499dd311e7fdad",
        "type": "ui_button",
        "z": "84070b956f808308",
        "name": "",
        "group": "7dee2cf71d18accd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1940,
        "wires": [
            [
                "0c64674775aac1e0"
            ]
        ]
    },
    {
        "id": "0c64674775aac1e0",
        "type": "function",
        "z": "84070b956f808308",
        "name": "delay",
        "func": "msg.payload = flow.get(\"option\");\nmsg.delay = flow.get(\"time\")*1000*60;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1940,
        "wires": [
            [
                "9a699281ada40b05"
            ]
        ]
    },
    {
        "id": "011c68f52e77e425",
        "type": "ui_toast",
        "z": "84070b956f808308",
        "position": "top right",
        "displayTime": "3",
        "highlight": "Green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Time Scheduler Done",
        "name": "",
        "x": 1550,
        "y": 2120,
        "wires": []
    },
    {
        "id": "b1ae5871e52d450c",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Update status on",
        "func": "msg.topic = `select changeStatus('${flow.get(\"device\").title}', '${flow.get(\"chose\").Id}', '1')`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1020,
        "wires": [
            [
                "98389ba2f6f0faff"
            ]
        ]
    },
    {
        "id": "83a41fde59276761",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Update status off",
        "func": "msg.topic = `select changeStatus('${flow.get(\"device\").title}', '${flow.get(\"chose\").Id}', '0')`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1220,
        "wires": [
            [
                "98389ba2f6f0faff"
            ]
        ]
    },
    {
        "id": "eb2ed69913f11140",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Update status on",
        "func": "var topic = \"\";\nvar id = flow.get(\"chose\").Id\nvar data = flow.get(\"selected\");\ndata.forEach(function(element) {\n    if(element.isChecked){\n        topic += `select changeStatus('${element.title}','${id}','1');\\n`\n    }\n});\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 1700,
        "wires": [
            [
                "f2ab484c8805d53b"
            ]
        ]
    },
    {
        "id": "98389ba2f6f0faff",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1850,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "8b922cac78f17524",
        "type": "function",
        "z": "84070b956f808308",
        "name": "Update status off",
        "func": "var topic = \"\";\nvar id = flow.get(\"chose\").Id\nvar data = flow.get(\"selected\");\ndata.forEach(function(element) {\n    if(element.isChecked){\n        topic += `select changeStatus('${element.title}','${id}','0');\\n`\n    }\n});\nmsg.topic = topic\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 1580,
        "wires": [
            [
                "f2ab484c8805d53b"
            ]
        ]
    },
    {
        "id": "f2ab484c8805d53b",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "",
        "x": 1710,
        "y": 1620,
        "wires": [
            [
                "55cc2f6c39fc1e5c"
            ]
        ]
    },
    {
        "id": "55cc2f6c39fc1e5c",
        "type": "debug",
        "z": "84070b956f808308",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1910,
        "y": 1620,
        "wires": []
    },
    {
        "id": "bb3d5b94397f4653",
        "type": "ui_chart",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "group": "a1234567.5e1b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Current",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Ampe",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9502bdcfb9a9d5a3",
        "type": "ui_gauge",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "group": "a1234567.5e1b9",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C ",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "10bdd1538534f120",
        "type": "mqtt in",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78910a7de187960",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "9502bdcfb9a9d5a3",
                "5443dc17cb7d6c78"
            ]
        ]
    },
    {
        "id": "ff277a83f9604427",
        "type": "inject",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.05",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "f6e6b7726d8c68f2"
            ]
        ]
    },
    {
        "id": "654f2435cc510636",
        "type": "mysql",
        "z": "9a76a4e8bdd99e48",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 610,
        "y": 400,
        "wires": [
            [
                "2ba8c39e8391998f"
            ]
        ]
    },
    {
        "id": "f3e93dcf7d5b1cf1",
        "type": "ui_table",
        "z": "9a76a4e8bdd99e48",
        "group": "a1234567.5e1b9",
        "name": "Equipment",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "19903826222dabea"
            ]
        ]
    },
    {
        "id": "2ba8c39e8391998f",
        "type": "change",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "eq",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 400,
        "wires": [
            [
                "e14e6efd17b0c0bd"
            ]
        ]
    },
    {
        "id": "e14e6efd17b0c0bd",
        "type": "function",
        "z": "9a76a4e8bdd99e48",
        "name": "Table",
        "func": "var data = flow.get(\"eq\");\nvar payload = []\ndata.forEach(function(element) {\n    payload.push({\n    Id: element.equipmentID,\n    Name: element.equipmentName,\n    Socket: element.numberSocket,\n    Location: element.position\n    })\n});\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "f3e93dcf7d5b1cf1"
            ]
        ]
    },
    {
        "id": "f6e6b7726d8c68f2",
        "type": "function",
        "z": "9a76a4e8bdd99e48",
        "name": "Equipment",
        "func": "msg.topic = `select * from Equipment_Plug where manager = '${global.get(\"userName\")}'`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "654f2435cc510636"
            ]
        ]
    },
    {
        "id": "19903826222dabea",
        "type": "change",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "chose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "788c0ebc53bb19f2",
                "b0d303a843754cda"
            ]
        ]
    },
    {
        "id": "788c0ebc53bb19f2",
        "type": "function",
        "z": "9a76a4e8bdd99e48",
        "name": "set topic temperature",
        "func": "msg.action = \"subscribe\";\nmsg.topic = `${flow.get(\"chose\").Id}\\\\TEMPERATURE`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "10bdd1538534f120",
                "85501706f79f7a5e"
            ]
        ]
    },
    {
        "id": "5443dc17cb7d6c78",
        "type": "debug",
        "z": "9a76a4e8bdd99e48",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 600,
        "wires": []
    },
    {
        "id": "85501706f79f7a5e",
        "type": "debug",
        "z": "9a76a4e8bdd99e48",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "b0d303a843754cda",
        "type": "function",
        "z": "9a76a4e8bdd99e48",
        "name": "set topic current",
        "func": "msg.action = \"subscribe\";\nmsg.topic = `${flow.get(\"chose\").Id}\\\\CURRENT`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 760,
        "wires": [
            [
                "d635a5d6624c31af"
            ]
        ]
    },
    {
        "id": "d635a5d6624c31af",
        "type": "mqtt in",
        "z": "9a76a4e8bdd99e48",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78910a7de187960",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 610,
        "y": 760,
        "wires": [
            [
                "bb3d5b94397f4653"
            ]
        ]
    },
    {
        "id": "7a9a2c23d29b795c",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 490,
        "y": 880,
        "wires": [
            [
                "715f58491a1f60db"
            ]
        ]
    },
    {
        "id": "d2e8d6e3a81e921a",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1410,
        "y": 940,
        "wires": [
            [
                "5df8e50ed7ac47cf"
            ]
        ]
    },
    {
        "id": "b87039024240aa5d",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "6c08575cbfd2a86f",
        "name": "Sockets",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "three",
        "actionType": "switch",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1140,
        "y": 1180,
        "wires": [
            [
                "60e89b41629b3f2a",
                "fd4e1fd65be52fcd"
            ]
        ]
    },
    {
        "id": "715f58491a1f60db",
        "type": "ui_table",
        "z": "84070b956f808308",
        "group": "878cb2d6465c23c0",
        "name": "Equipment",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "1310eef2ba54e236",
                "a6cfb31930f45b97"
            ]
        ]
    },
    {
        "id": "246dd2f862d481d2",
        "type": "ui_countdown_timer_switch",
        "z": "84070b956f808308",
        "name": "",
        "label": "Time scheduler",
        "group": "7dee2cf71d18accd",
        "order": 2,
        "width": 0,
        "height": 0,
        "countdowns": [
            "5",
            "10",
            "15",
            "30"
        ],
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "topic": "",
        "outputState": "",
        "showDropdown": true,
        "x": 740,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "7c1552c084a581c8",
        "type": "ui_list",
        "z": "84070b956f808308",
        "group": "04229a24935bb99a",
        "name": "Script",
        "order": 1,
        "width": 6,
        "height": "4",
        "lineType": "three",
        "actionType": "switch",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 690,
        "y": 1300,
        "wires": [
            [
                "e28c026ca1f2b9b6"
            ]
        ]
    },
    {
        "id": "e28c026ca1f2b9b6",
        "type": "change",
        "z": "84070b956f808308",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Charts\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "c05e926d230b5b0a"
            ]
        ]
    },
    {
        "id": "18efaa8f5d504672",
        "type": "function",
        "z": "84070b956f808308",
        "name": "function 7",
        "func": "msg.topic = `select * from Script`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1260,
        "wires": [
            [
                "e7acb03b4e1f7c87"
            ]
        ]
    },
    {
        "id": "e7acb03b4e1f7c87",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "7c1552c084a581c8"
            ]
        ]
    },
    {
        "id": "c05e926d230b5b0a",
        "type": "function",
        "z": "84070b956f808308",
        "name": "get_Socket_infor",
        "func": "var id = flow.get(\"scriptName\").scriptName;\nmsg.topic = `select * from Socket where scriptName = '${id}'`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1300,
        "wires": [
            [
                "219e021446f05c72"
            ]
        ]
    },
    {
        "id": "219e021446f05c72",
        "type": "mysql",
        "z": "84070b956f808308",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 1330,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e283fd70b3e27b",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 300,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "3058a20d885a59d9",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Sign Up\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "648a07a887f8eeaa",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f6a06520f31397e6",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9ea4574b3c2177ac",
        "type": "mysql",
        "z": "cb40a44d23cb5760",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "e2d7f01e7dbb3172"
            ]
        ]
    },
    {
        "id": "2a709be85ec57e04",
        "type": "function",
        "z": "cb40a44d23cb5760",
        "name": "login",
        "func": "msg.topic = `select login('${global.get(\"userName\")}', '${flow.get(\"password\")}') as res`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "9ea4574b3c2177ac"
            ]
        ]
    },
    {
        "id": "e2d7f01e7dbb3172",
        "type": "switch",
        "z": "cb40a44d23cb5760",
        "name": "",
        "property": "$abs(msg.payload.res)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "a0e283fd70b3e27b",
                "bbbfb929e17c40b0",
                "94fe86b1c64a8ca9",
                "a9d0dd0774c1a0f1"
            ],
            [
                "0e89dd608760b689"
            ]
        ]
    },
    {
        "id": "bbbfb929e17c40b0",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "Green",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Login Success",
        "name": "",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "0e89dd608760b689",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "Wrong user or password",
        "name": "",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "94fe86b1c64a8ca9",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Log out\",\"Time scheduler\",\"Remote\",\"Charts\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "a9d0dd0774c1a0f1",
        "type": "change",
        "z": "cb40a44d23cb5760",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Login\", \"Sign Up\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 440,
        "wires": [
            [
                "152b57b93893f581"
            ]
        ]
    },
    {
        "id": "030baa63e035f70f",
        "type": "ui_button",
        "z": "cb40a44d23cb5760",
        "name": "",
        "group": "506de255854d948c",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Login",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "login-btn",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "2a709be85ec57e04"
            ]
        ]
    },
    {
        "id": "df3b8a118cdab206",
        "type": "ui_text_input",
        "z": "cb40a44d23cb5760",
        "name": "",
        "label": "User Name",
        "tooltip": "",
        "group": "506de255854d948c",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "login",
        "topicType": "msg",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "648a07a887f8eeaa"
            ]
        ]
    },
    {
        "id": "2c74de7cd0b5fed8",
        "type": "ui_text_input",
        "z": "cb40a44d23cb5760",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "506de255854d948c",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "f6a06520f31397e6"
            ]
        ]
    },
    {
        "id": "7d1d95721465657d",
        "type": "ui_toast",
        "z": "cb40a44d23cb5760",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "group": "f0d047bca5f32611",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "e2d7f01e7dbb3172"
            ]
        ]
    },
    {
        "id": "8b765c7ce994fe7b",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Home\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "62e6c8e41318ed99"
            ]
        ]
    },
    {
        "id": "63efd1d1b8ce68a4",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Login\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "62e6c8e41318ed99"
            ]
        ]
    },
    {
        "id": "4beab38a2329d095",
        "type": "function",
        "z": "117670200288981a",
        "name": "function 1",
        "func": "var query = `SELECT createUser('${flow.get(\"userName\")}', '${flow.get(\"password\")}') AS result`;\nmsg.topic = query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "d8330af53d1f39fa"
            ]
        ]
    },
    {
        "id": "24ef9f81896506cd",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3e404ac595cdba81",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "password",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "650a51b4e0f2e4aa",
        "type": "change",
        "z": "117670200288981a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "42a15b12e2c164c3",
        "type": "debug",
        "z": "117670200288981a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "51072983b7ba2ee0",
        "type": "ui_button",
        "z": "117670200288981a",
        "name": "",
        "group": "f0d047bca5f32611",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "login-btn",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "4beab38a2329d095"
            ]
        ]
    },
    {
        "id": "4be78e76d2696a4d",
        "type": "ui_button",
        "z": "117670200288981a",
        "name": "",
        "group": "f0d047bca5f32611",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sign In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "63efd1d1b8ce68a4"
            ]
        ]
    },
    {
        "id": "df3b8a118cdab206",
        "type": "ui_text_input",
        "z": "117670200288981a",
        "name": "",
        "label": "User Name",
        "tooltip": "",
        "group": "f0d047bca5f32611",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "userName",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "24ef9f81896506cd"
            ]
        ]
    },
    {
        "id": "71ade9357a5df070",
        "type": "ui_text_input",
        "z": "117670200288981a",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "f0d047bca5f32611",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "pass",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "3e404ac595cdba81"
            ]
        ]
    },
    {
        "id": "42a15b12e2c164c3",
        "type": "debug",
        "z": "117670200288981a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "0bfb851603c5f055",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Temperature",
        "func": "var query = `SELECT *from DS_Temperature`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "920a0611142d9cf7",
        "type": "http response",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 200,
        "wires": []
    },
    {
        "id": "6eee55c1b1245a71",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "0bfb851603c5f055"
            ]
        ]
    },
    {
        "id": "9609940c47268d36",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/current",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "abe01fa33c5f7fa3"
            ]
        ]
    },
    {
        "id": "abe01fa33c5f7fa3",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Current",
        "func": "var query = `SELECT *from ACS_Current`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "e176816853e5e5f2",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "82a1c6a17cc3268c"
            ]
        ]
    },
    {
        "id": "82a1c6a17cc3268c",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "post_Users",
        "func": "var userName = msg.payload.userName; \nvar passwordHash = msg.payload.passwordHash;\nvar query = `SELECT createUser('${userName}', '${passwordHash}') AS result`;\nmsg.topic = query;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "bfa9c658f3b999d3",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/equipment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "67df5cebe39a8352"
            ]
        ]
    },
    {
        "id": "67df5cebe39a8352",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "post_Equipment",
        "func": "var equipmentName = msg.payload.equipmentName; \nvar numberSocket = msg.payload.numberSocket;\nvar query = `SELECT createEquipment('${equipmentName}', '${numberSocket}') AS result`;\nmsg.topic = query;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "a9169d9798ef95cb",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Users",
        "func": "var query = `SELECT *from Users`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "720ee2b38bf9d92c",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "a9169d9798ef95cb"
            ]
        ]
    },
    {
        "id": "4fd35bf9f83bd8d6",
        "type": "http in",
        "z": "ed6816ba7f57d2eb",
        "name": "",
        "url": "/api/equipment",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "d71a0522170c9391"
            ]
        ]
    },
    {
        "id": "d71a0522170c9391",
        "type": "function",
        "z": "ed6816ba7f57d2eb",
        "name": "get_Room",
        "func": "var query = `SELECT *from Equipment_Plug`\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "282dd9491c678f1e"
            ]
        ]
    },
    {
        "id": "282dd9491c678f1e",
        "type": "mysql",
        "z": "ed6816ba7f57d2eb",
        "mydb": "e7f976d3ee444ce1",
        "name": "TEST",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "920a0611142d9cf7"
            ]
        ]
    },
    {
        "id": "ecac4c174bc61c82",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Login\", \"Sign Up\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "eaa97a455a08aa68",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Login\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "063f27fe2a94dc02",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Charts\",\"Log out\",\"Time scheduler\",\"Remote\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "f784af9c6ec11c36"
            ]
        ]
    },
    {
        "id": "04471693fce9e1d6",
        "type": "change",
        "z": "5b7c3022fb252408",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "userName",
                "pt": "global",
                "to": "\"\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 440,
        "wires": [
            [
                "f784af9c6ec11c36",
                "828a37ba8f9d3ab2"
            ]
        ]
    },
    {
        "id": "828a37ba8f9d3ab2",
        "type": "debug",
        "z": "5b7c3022fb252408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6e4508264098a08",
        "type": "ui_button",
        "z": "5b7c3022fb252408",
        "name": "",
        "group": "41226fd164ba85b2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Log out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ecac4c174bc61c82",
                "eaa97a455a08aa68",
                "063f27fe2a94dc02",
                "04471693fce9e1d6"
            ]
        ]
    },
    {
        "id": "f784af9c6ec11c36",
        "type": "ui_ui_control",
        "z": "5b7c3022fb252408",
        "name": "",
        "events": "all",
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2136d49bc0b3c422",
        "type": "mqtt in",
        "z": "a1011441c04be54b",
        "name": "",
        "topic": "from-client",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a78910a7de187960",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 180,
        "wires": [
            [
                "3459250597bd18f9",
                "0bbf8eb04a11eaf5"
            ]
        ]
    },
    {
        "id": "3459250597bd18f9",
        "type": "debug",
        "z": "a1011441c04be54b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "780121c3330a1363",
        "type": "function",
        "z": "a1011441c04be54b",
        "name": "Add New Equipment",
        "func": "msg.topic = `select changeManager('${flow.get(\"data\").userName}', '${flow.get(\"data\").equipmentID}')`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "3b87508924110923"
            ]
        ]
    },
    {
        "id": "0bbf8eb04a11eaf5",
        "type": "change",
        "z": "a1011441c04be54b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "780121c3330a1363"
            ]
        ]
    },
    {
        "id": "9592315dbb7759ad",
        "type": "debug",
        "z": "a1011441c04be54b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "e6b2a17ef18f5e8c",
        "type": "aedes broker",
        "z": "a1011441c04be54b",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 190,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3b87508924110923",
        "type": "mysql",
        "z": "a1011441c04be54b",
        "mydb": "e7f976d3ee444ce1",
        "name": "DB",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "9592315dbb7759ad"
            ]
        ]
    }
]